
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    background-color: white;
    /* padding: 20px; */
    margin: 0 auto;
    max-width: 100%;
    width: 100vw;
    height: 90vh;  
}


.logo{
    width: 170px;
}

p{
    line-height: 1.5;
}

/* nav */
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: relative;
}

.nav-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.nav-ul li a{
    display: inline-block;
    color: rgb(20, 139, 139);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px ;
    text-decoration: none;
}

.nav-ul li a:hover{
    background-color: teal;
    color: white;
}

.hamburger{
    display: none;
    border: none;
    background: transparent;
    font-size: 25px;
    color: rgb(20, 139, 139);
    cursor: pointer;   
}

.hamburger:focus{
    outline: none;
}

@media screen and (max-width: 767px) {

    .nav-ul{
        
        display: none;
        flex-direction: column;
        width: 50%;
        z-index: 10;
        position: absolute;
        top: 70%;
        left: 50%;
        padding: 2rem 0;
        background-color: rgb(255, 255, 255);
        border-radius: 1rem;
        color: white;
        box-shadow: 2px 2px 5px rgba(20, 139, 139,0.6);
    }

    .hamburger{
        display: block;
    }

    .nav-ul.show{
        display: flex;
    }

    .btn{
        width: 100%;
    }

    .logo{
        width: 150px;
    }

    .nav-ul li a{
        padding: 10px;
    }

    header{
        padding-bottom: 0;
    }
}


/* hero */

.hero{
    height: 70vh;
    background-image: linear-gradient(to right, rgba(17, 34, 51, 0.637), rgba(17, 17, 17, 0.575)),url("../image/bg.jpg");
    /* background-image: lineurl("../image/bg.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: oldlace;
}

.hero-text p{
    margin: 1rem 0;
}

.hero-text .btn{
    background-color: seashell;
    border: navajowhite;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 50px;
}

.hero-text .btn:hover{
    background-color: rgb(20, 139, 139);
    color: #fff;
}


/* modal */







/* enquire */
.enquiry{
    position: absolute;
    right: -1.5rem;
    top: 50%;
    transform: rotate(270deg);
    background-color: rgb(20, 139, 139);
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    cursor: pointer;
}


/* About */

.about{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about .about_title{
    background-color: rgb(79, 153, 196);
    padding: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.about_title h1{
    font-size: 40px;
    font-weight: 700;
    color: rgb(250, 248, 135);
    margin-bottom: 20px;
}

.about_title h3{
    font-weight: 200;
}

.about .our_profile,.our_team, .our_mission{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
}

.about .our_team{
    background-color: rgba(221, 239, 245, 0.568);
    padding: 20px;
}
.about .img{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .about_text,.team_text,.mission_text{
    width: 40%;
}

.about_text,.mission_text,.team_text h3{
    color: darkblue;
}


.about img{
    width: 300px;
}


@media screen and (max-width: 767px) {
    .about .our_profile,.our_team, .our_mission{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .about .img{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
    }

    .about .about_text,.team_text,.mission_text{
        width: 100%;
    }
}